---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import ArticleItemCard from "@components/article/ArticleItemCard.astro";
import PageLayout from "@layouts/PageLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
      relatedPosts: posts.filter((v) => v.id !== post.id).slice(0, 3),
    },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
  relatedPosts: CollectionEntry<"blog">[];
};

const { post, relatedPosts } = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <main
    class="container mx-auto py-10 sm:pt-[52px] sm:pb-[76px]"
  >
    <BlogPost slug={post.slug} {...post.data}>
      <div transition:name={`article-${post.slug}-content`}>
        <Content />
      </div>
    </BlogPost>
    <div class="flex flex-col gap-6">
      <h2 class="border-brand border-l-8 px-3 text-heading-5">Feature Title</h2>
      <div
        class="grid grid-cols-1 gap-4 md:gap-6 md:grid-cols-2 lg:grid-cols-3"
      >
        {relatedPosts.map((post) => <ArticleItemCard post={post} />)}
      </div>
    </div>
  </main>
</PageLayout>
