---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import ArticleBadge from "@components/atoms/ArticleBadge.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const { slug, title, pubDate, updatedDate, heroImage } = Astro.props;
---

<article class="max-w-[858px] mx-auto">
  <div class="prose prose-xl px-4 sm:px-0 mx-auto max-w-screen-sm">
    <ArticleBadge transition:name={`article-${slug}-tags`} class="mb-1"> Knowledge </ArticleBadge>
    <h1 transition:name={`article-${slug}-title`} class="text-heading-4 sm:text-heading-3 mb-6">
      {title}
    </h1>
    <FormattedDate date={pubDate} transition:name={`article-${slug}-date`} />
  </div>
  <div
    transition:name={`article-${slug}-image`}
    class="aspect-16/9 overflow-hidden max-h-[488px] mx-auto"
  >
    {
      heroImage && (
        <Image
          width={900}
          height={482}
          src={heroImage}
          alt=""
          class="object-cover w-full"
        />
      )
    }
  </div>
  <div class="prose prose-xl px-4 sm:px-0 mx-auto max-w-screen-sm">
    <slot />
  </div>
</article>
